<div class="sidebar">
  <div class="container sidebar-sticky">

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}"></a>

            <span class="sidebar-nav-item" style="height: 50px; width: 50px">
              <a href="/"><img src="/public/favicon.png" alt="home" title="home"></a>
            </span>
            <span>
            <br>
            </span>
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:'position' %}

      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
            <span>
            <br>
            </span>
            <small><a href="https://www.facebook.com/halldorophone/" target="_blank">f</a></small>
            <span>
            <br>
            </span>
            <small><a href="http://www.halldor.gr" target="_blank">halldór</a></small>
    </nav>

  </div>
</div>
